#profile-header {
    height: 520px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 135px;
    background-color: rgb(211, 180, 226);
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

@media only screen and (min-width: 1024px) {
    #profile-header {
        width: 50%;
        height: 50%;
        margin-top: 100px;
      }
}