.new-tweet form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 2em;
}
.new-tweet div {
    display: flex;
    justify-content: space-between;
}

.new-tweet footer {
    display: flex;
    justify-content: space-between;
}

.new-tweet button {
    background-color: rgb(72, 12, 104);;
    font-family: 'Bungee', sans-serif;
    color: #ffffff;
    padding: 5px;
}

.new-tweet textarea {
    background-color: transparent;
    margin: 2em 0;
    border: none;
    border-bottom: solid 3px;
}

#character-count {
    font-family: 'Bungee', sans-serif;
}

.character-limit {
    color: red;
}

.bold {
    font-weight: bold;
}

.form-error {
    display: none;
    color: red;
    
}