article {
  border: solid 3px;
  padding: 0.5em;
  margin: 2em;
}

article:hover {
  box-shadow: 4px 6px rgba(162, 176, 219, 0.958);
}

#tweet-input {
  border-bottom: solid 3px;
  margin: 0 auto;
}

article footer i {
  color: #4056a1;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1em;
  margin-top: 0;
}

article span {
    display: flex;

}

article header div {
  display: flex;
  align-items: baseline;
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 0.65em;
}

.fa-solid.fa-flag:hover,
.fa-solid.fa-retweet:hover,
.fa-solid.fa-heart:hover {
  color: red;
}
